#formRes {
    margin: 1em 0;
    padding-top: 0
}
#formRes fieldset {
    margin: 0;
    padding: 0;
    border: none;
    float: left;
    display: inline;
    width: 100%;
    margin-left: 25px
}
#formRes legend {
    display: none
}
#formRes p,
#formRes span {
    margin: .5em 0
}
#formRes label {
    display: block
}
#formRes input {
    width: 30px;
    border: 1px solid #ddd;
    background: #fff url(../images/form1/form_input.gif) repeat-x;
    padding: 3px
}
#formRes textarea,
#formRes select {
    width: 306px;
    border: 1px solid #ddd;
    background: #fff url(../images/form1/form_input.gif) repeat-x;
    padding: 3px
}
#formRes select {
    width: 30px
}
#formRes textarea {
    height: 200px;
    overflow: auto
}
#formRes input.checkbox {
    width: 25px;
    vertical-align: middle
}
#formRes p.submit {
    clear: right;
    padding: 0 26px 20px 25px;
    margin: 0;
    text-align: center
}
#formRes button {
    width: 100px;
    height: 37px;
    line-height: 37px;
    border: none;
    cursor: pointer;
    text-align: center
}
#formRes .datepicker {
    width: 100px
}
#formRes input.file {
    width: 290px;
    background: #000;
    border: none
}
